* {
  font-family: "Roboto", sans-serif;
}

body {
  /* Matt Palmer - Unsplashed */
  background-image: url("../background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --primary: #f7f7f776;
  --lightGrey: #666666;
  --darkGrey: #434343;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

/* Styles to Search Section */
#form-section {
  width: 600px;
  margin: auto;
}

button:hover {
  cursor: pointer;
}

#form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#city-form {
  width: 375;
  background-color: var(--primary);
}

input[type="text"],
select,
#submit-button {
  padding: 12px 0px;
  margin: 0;
  background-color: transparent;
}

input[type="text"],
select {
  padding-left: 5px;
  width: 348px;
  font-size: 16px;
  border: none;
}

#submit-button span {
  font-size: 16px;
  color: var(--lightGrey);
  padding-right: 2px;
}

#clear-search,
#previous-searches button {
  color: var(--lightGrey);
}

#previous-searches {
  padding-top: 10px;
  width: 100%;
}

/* Styles to Weather Container */
.weatherContainer {
  background-color: #ebebf1c6;
}

/* styles to current day card */
.todayCard {
  background-color: white;
  border-radius: 20px;
  margin: 30px 0px 30px;
}

.cityTitle {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.currentIcon {
  height: 100px;
}

.currentTemprature {
  font-size: 25px;
}

.currentDate {
  font-size: 10px;
}

.currentWind {
  font-size: 12px;
}

/* styles to 5 day forcast and cards */
.forecastTitle {
  font-size: 17px;
  margin-left: 20px;
}

.forecastCard {
  background-color: white;
  border-radius: 20px;
  margin: 5px 0px 5px;
}

.forecastDate {
  margin-top: 10px;
  font-weight: 900;
  font-size: 17px;
}

.forcastIcon {
  height: 50px;
  margin-bottom: 20px;
}

.forecastTemp {
  font-size: 23px;
  margin-bottom: 0px;
}
