* {
  font-family: "Roboto", sans-serif;
}

body {
  /* Matt Palmer - Unsplashed */
  background-image: url("../background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --primary: #f7f7f776;
  --lightGrey: #666666;
  --darkGrey: #434343;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

/* Styles to Search Section */
#form-section {
  width: 600px;
  margin: auto;
}

button:hover {
  cursor: pointer;
}

#form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#city-form {
  width: 375;
  background-color: var(--primary);
}

input[type="text"],
select,
#submit-button {
  padding: 12px 0px;
  margin: 0;
  background-color: transparent;
}

input[type="text"],
select {
  padding-left: 5px;
  width: 348px;
  font-size: 16px;
  border: none;
}

#submit-button span {
  font-size: 16px;
  color: var(--lightGrey);
  padding-right: 2px;
}

#clear-search,
#previous-searches button {
  color: var(--lightGrey);
}

#previous-searches {
  padding-top: 10px;
  width: 100%;
}

/* Styles to Weather Containers */
#current-weather-container,
#future-weather-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary);
  padding-bottom: 30px;
}

#current-weather-container {
  justify-content: space-between;
  margin-top: 100px;
}

#future-weather-container {
  justify-content: space-around;
  margin-bottom: 100px;
}

/* Styles to Current Day */
.today-weather-div {
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

#temp {
  font-size: 50px;
  color: black;
  margin: 40px 20px 0px 15px;
}

.today-weather-div div {
  margin-top: 25px;
}

.today-weather-div p {
  font-size: 16px;
  margin: 5px;
  padding: 0;
  color: var(--lightGrey);
}

.today-city-div {
  text-align: right;
  padding-right: 50px;
}

.today-city-div h2 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
}

.today-city-div p {
  font-size: 20px;
  margin: 5px;
  padding: 0;
  color: var(--darkGrey);
}

/* Styles to Forecast */
#day0,
#day1,
#day2,
#day3,
#day4 {
  width: 10%;
  padding-top: 20px;
  text-align: center;
}

#date0,
#date1,
#date2,
#date3,
#date4 {
  font-size: 25px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#day0 img,
#day1 img,
#day2 img,
#day3 img,
#day4 img,
.flex-wrap p {
  margin: 0;
  padding: 0;
}

#humidity4,
#humidity3,
#humidity2,
#humidity1,
#humidity0,
#wind4,
#wind3,
#wind2,
#wind1,
#wind0 {
  color: var(--lightGrey);
}
